<footer class="footers">
    <div class="footer-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="footer-widget footer-about">
                        <div class="footer-logo mb-3">
                            <img src="assets/img/bookmynurse-logo-2.png"
                                alt="Book My Nurse, Logo, Home Nursing"
                                class="img-fluid rounded" width="240">
                        </div>
                        <div class="footer-about-content">
                            <p class="mb-3" style="font-size: 18px;">Choose the right nurses for your
                                loved ones.
                                <br> Book My Nurse has been promoted by <br> Nursing Station Health Care Pvt Ltd.
                            </p>

                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4">
                    <div class="footer-widget footer-contact">
                        <h2 class="footer-title mb-3">Contact Us</h2>
                        <div class="footer-contact-info">
                            <p class="geetha mb-2">
                                <i class="fas fa-phone-alt me-2"></i>
                                <a href="tel:9943234569" class="foot-number">99432 34569</a>
                            </p>
                            <p class="geetha mb-0">
                                <i class="fa fa-envelope me-2"></i>
                                <a href="mailto:hi@bookmynurse.com" class="foot">
                                    hi&#64;<span class="foot-at"></span>bookmynurse<span
                                        class="foot-dot">.</span>com
                                </a>
                            </p>

                            <div class="video-wrapper">
                                <button class="app-btn-1" (click)="showVideo = true">
                                    <i class="fas fa-play-circle"></i>
                                    <span>Video Introduction</span>
                                </button>
                            </div>

                            <!-- Video Modal -->
                            <div class="video-overlay" *ngIf="showVideo">
                                <div class="video-modal">
                                    <button class="close-btn" (click)="showVideo = false">&times;</button>
                                    <iframe width="560" height="315" src="https://www.youtube.com/embed/RdrtOw1Vpn8"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                        allowfullscreen>
                                    </iframe>
                                </div>
                            </div>

                            <div class="social-icon mt-3">
                                <h2 class="footer-title mb-3">Follow Us</h2>
                                <ul class="list-inline mb-0">
                                    <li class="list-inline-item" style="margin-right: 30px;">
                                        <a href="https://www.facebook.com/bookmynurse" target="_blank"
                                            class="text-decoration-none">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item" style="margin-right: 30px;">
                                        <a href="https://www.instagram.com/bookmynurseindia/" target="_blank"
                                            class="text-decoration-none">
                                            <i class="fab fa-instagram"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item" style="margin-right: 30px;">
                                        <a href="https://x.com/BookMyNurse" target="_blank"
                                            class="text-decoration-none">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item" style="margin-right: 30px;">
                                        <a href="https://www.linkedin.com/company/book-my-nurse"
                                            target="_blank" class="text-decoration-none">
                                            <i class="fab fa-linkedin-in"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="https://www.youtube.com/@BookMyNurse"
                                            target="_blank" class="text-decoration-none">
                                            <i class="fab fa-youtube"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>



                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="footer-widget footer-contact">
                        <h2 class="footer-title mb-3">Address</h2>
                        <div class="footer-contact-info">
                            <div class="footer-address mb-3">
                                <span><i class="fas fa-map-marker-alt me-2"></i></span>
                                <p class="geetha mb-0">
                                    <b>Book My Nurse</b><br>
                                    Geethalaya Apartments,<br>
                                    <span>77, G-Block, 12th Street,</span><br>
                                    <span>2nd Floor, Anna Nagar East,</span><br>
                                    <span>Chennai, Tamil Nadu, India-600102</span>
                                </p>
                            </div>
                                          
                            <!-- <div class="footer-widget footer-app mb-2">
                                <a href="assets/bookmynurse.apk" class="app-btn" target="_blank">
                                    <i class="fab fa-android"></i> <span>Download our Mobile App</span>
                                </a>
                            </div> -->
                        </div>



                    </div>
                </div>
            </div>
        </div>



        <hr style="width: 100%; border: 1px solid #000; margin: 0;">
        <div class="copyright-area d-flex justify-between">
            <p class="copyright-text">
                © 2025<a class="geetha" href="https://bookmynurse.com"> BookMyNurse.</a> All rights reserved. 
            </p>            
            <p class="geetha-1 text-center">
                Designed and Developed By
                <a href="https://www.resq.sg/" class="resq-link" rel="nofollow">
                    <span class="text">ResQ</span>
                    <img src="assets/img/resq-merlion-red.png" class="lion-icon" alt="Lion"/>
                  </a>						  
            </p>
        </div>
    </div>


</footer>